@use '../util' as *;

.app {
    position: absolute;
    margin-top: rem(100);
    width: 90%;

    @include breakpoint(medium) {
        width: 40%;
    }

    &__header {}

    .item {
        display: flex;
        align-items: center;
        background-color: var(--task-bg);
        padding: rem(15) rem(20);
    }

    &__tasks {

        .task {
            border-bottom: 1px solid var(--task-border);

            &.active {
                color: var(--text-active);
            }

            &.completed {
                text-decoration: line-through;
                color: var(--text-inactive);
            }

            P {
                cursor: pointer;
            }

            .delete_btn {
                float: right;
                margin-left: auto;

                @include breakpoint(medium) {
                    display: none;
                }
            }

        }

        #add_task {
            margin-bottom: rem(15);


            input[type="text"] {
                // height: rem(50);
                width: 100%;
                background-color: var(--task-bg);
                color: var(--text-active);
                font-family: inherit;
                // padding-left: rem(25);
                font-size: inherit;

            }
        }


    }

    &__footer {
        height: rem(50);
        background-color: var(--task-bg);
        font-size: rem(17);
        font-family: inherit;
        padding: 0 rem(20);
        color: var(--text-inactive);
        margin-bottom: rem(15);

        .items_count {
            font-size: rem(13);
        }

        .clear_btn {
            color: var(--text-inactive);

            &:hover {
                color: var(--text-active);
            }
        }
    }
    .filters {
        a {
            color: var(--text-inactive);

            &:hover {
                color: var(--text-active);
            }

            &:nth-of-type(1){
                color: var(--bright-blue)
            }

            &:not(:last-child) {
                margin-right: rem(15);
            }
        }
    }


    .tip {
        text-align: center;
        color: var(--text-inactive);
        margin-top: rem(50);

    }

}
